h1{
    color: blue;
    text-shadow: 1px 1px 0px black;
    text-align: center;
}


form{
    display: grid;
    grid-template-columns: 150px 150px;
    border-style: solid;
    padding: 15px;
    width: 300px;
    margin: auto; /*Que calcule automatiquement les distance pour centrer*/
}
input{
    margin-bottom:1.5em;
    text-align: center;
}

label[htmlFor$="nom"]{
    text-align: center;
    
}