
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #f0f8fd;
}
/* Accueil css */
.feeds-page{
    width: 100%;
    height: 100vh;
}

/* Nouveau tweeet*/



/* Pour les publications posts et les amis*/
.flex{
    justify-content: center;
}
/*Publications*/


/*Barre infos + amis*/
.sideBar{
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
    margin-left: 1rem;
    width: 30%;
}
.rightBarInfo{
    background-color: white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding :2rem;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    

}
.rightBarTitle{
    background-color: rgb(10, 23, 207) ;
    height: 2rem;
    padding: 2rem;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
    border-bottom: solid 0.5px grey;
    text-align: center;

}

.rightBarInfoItem{
    margin-bottom: 1rem;
    padding-left: 5rem;
    font-size: 1.8rem;
}
.rightBarInfoKey{
    font-weight: 500;
    margin-right: 1rem;
    color: #555;
}
.rightBarInfoValue{
    padding-left: 2rem;
}

.friends {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;

}
/* Post button *********************************************/
.post-btn{
    position: fixed;
    bottom: 2rem;
    left: 68%;
    width: 12rem;
    padding: 1.5rem 1rem;
    background-color: rgb(41, 88, 241);
    color: white;
    font-size: 2rem;
    border: 0.1rem solid rgb(41, 88, 241);
    border-radius:3rem;
    cursor: pointer;
    box-shadow: 0 0.3rem 1rem black;
    transition: background-color 0.3s;
}

.post-btn:hover{
    background-color: rgb(10, 23, 207) ;
}

/********************************************************/

/*Photo de couverture et de profil*/
.profile{
    flex: 9;
}
.profileTop{
    height: 30rem;
    padding-top:10rem;
    padding-bottom: 2rem;
    border-bottom: solid 3px  rgb(41, 88, 241);
    margin-right: 20rem;
    margin-left: 20rem;
}
.profileCover{
    height: 10rem;
    position: relative;
}
.profileCoverImg{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5%;
}
.profileUserImg{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top : 5rem;
    border: 3px solid white;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 17rem;
    background-color:rgb(217, 223, 241);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 5rem;
}

.profileInfoName{
    font-size: 2rem;
}

.profileBio{
    font-weight: 300;
    font-size: 1.5rem;
}