body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;

}
#logo{
    width: 25%;
    height: 100px;
    background-color: aqua;
}
#logo img{
    height: 100%;
    width: 100%;
}
#search{
    width: 50%;
    height: 100px;
    background-color:blueviolet;
}
#connect{
    width: 25%;
    height: 100px;
    background-color: blue;
}
main{
    display: flex;
    width:100%;
    height: 600px;
    flex-direction: row;
}
aside{
    width: 20%;
    height: 600px;
    background-color: brown;
}
section{
    display: flex;
    width: 80%;
    flex-direction: column;
}
#new_comment{
    height: 150px;
    background-color: chartreuse;
}
article{
    height: 750px;
    background-color: darkorange;
}
#recherche{
    width:100%;
}